@model FOI_Log.Models.Ref_Area_of_Interest

@{
    ViewBag.Title = "Archive";
    Layout = "~/Views/Shared/Layout1.cshtml";
}


<h4 style="text-align: center;">Are you sure you want to Archived this Area Of Interest?</h4>
<hr />
<div style="text-align:center">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Area_of_Interest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area_of_Interest)
        </dd>

    </dl>
    <br/>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Archive" class="btn btn-danger" />

        </div>
    }

</div>
<div>
    @Html.ActionLink("<< Back to List", "Index", null, new { style = "color:White", @class = "btn btn-warning" })
</div>
