@model FOI_Log.Models.Ref_Area_of_Interest

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Layout1.cshtml";
}


    <h2>Are you sure you want to Archived this Area Of Interest?</h2>
<hr />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Area_of_Interest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area_of_Interest)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |

        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index", null, new { style = "color:White", @class = "btn btn-warning" })
    </div>
</div>
