@model FOI_Log.Models.Ref_Status

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<h4 style="text-align:center">Reference Status Delete</h4>
<hr />

<h3>Are you sure you want to delete this?</h3>
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status_Description)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", null, new { style = "color:White", @class = "btn btn-warning" })
        </div>
    }
</div>
